:root {
    --primary-color: hsl(214, 84%, 56%);
    --text-color: hsl(0, 0%, 31%);
    --bg-color: hsl(0, 0%, 90%);
    --bg-card-color: hsl(0, 0%, 98%);
    --border-radius: 0.4em;
    --transition: color 0.1s, background-color 0.2s ease-in-out;
}
* {
    box-sizing: border-box;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

img {
    max-width: 100%;
    display: flex;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition);
    font-family: sans-serif;
    justify-content: center;
    height: 100vh;
    justify-content: space-between; 
    min-height: 100vh;
    flex-direction: column;
}

.more-text {
    display: none;
    
}

body.dark {
    --text-color: hsl(0, 0%, 83%);
    --bg-color: hsl(0, 0%, 15%);
    --bg-card-color: hsl(0, 0%, 20%);

}

/* Media query para pantallas pequeñas (como móviles) */
@media (max-width: 768px) {
    body {
        background-color: var(--bg-color);
    }
}

/* Media query para pantallas muy pequeñas (como móviles en modo retrato) */
@media (max-width: 480px) {
    body {
        background-color: var(--bg-color);
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-card-color);
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}  

.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    padding: auto;
    background-color: var(--bg-card-color);
    transition: var(--transition);
}

.navigation>li {
    display: flex;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    max-width: max-content;
    transition: var(--transition);
}

.navigation>li:hover {
    color: var(--primary-color);
}

.navigation>li::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.125rem;
    background-color: var(--primary-color);
}

.switches {
    display:contents;
    align-items:center;
    gap: 1rem;
    cursor: pointer;
}

.toggle-theme {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle-theme__icon {
    margin-right: 0.5em;
    width: 20px;
}

.toggle-theme__text {
    font-size: 0.8rem;
}

.colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 100px;
}

.colors__item {
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.colors__item--blue {
    --primary-color: hsl(214, 84%, 56%);
}

.colors__item--green {
    --primary-color: hsl(150, 84%, 56%);
}

.colors__item--purple {
    --primary-color: hsl(276, 84%, 56%);
}

.colors__item--orange {
    --primary-color: hsl(46, 84%, 56%);
}

.title {
    text-align: center;
    color: var(--primary-color);
    transition: var(--transition);
}

.container-main {
    width: 100%;
    /* El contenedor ocupará el 100% del ancho de su elemento padre */
    max-width: 1200px;
    /* Limita el ancho máximo a 1200px, ajustable según tus necesidades */
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
    padding: 20px;
    /* Espaciado interno alrededor del contenido */
    background-color: var(--bg-card-color);
    /* Color de fondo suave */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave para darle profundidad */
    display: flex;
    /* Flexbox para estructurar el contenido internamente */
    flex-direction: column;
    /* Organiza los elementos dentro del contenedor en una columna */
    align-items: center;
    /* Centra los elementos hijos horizontalmente */
    justify-content: flex-start;
    /* Alinea los elementos al principio del contenedor */
}




h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

.password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

#password {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#generate-btn {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#generate-btn:hover {
    background-color: #45a049;
}

.options {
    margin-bottom: 15px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.error {
    color: red;
    font-size: 14px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}





/* Estilo para el pie de página */
footer {
    background-color: var(--bg-card-color); /* Color de fondo */
    color: white; /* Texto blanco */
    text-align: center; /* Centrado de texto */
    padding: 20px 0; /* Espaciado superior e inferior */
    width: 100%; /* Asegura que ocupe todo el ancho */
}

footer .logo-footer img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

/* Estilo para los enlaces de redes sociales */
.redes-footer {
    margin: 15px 0; /* Espaciado superior e inferior */
}

.redes-footer a {
    color: white; /* Color blanco para los iconos */
    margin: 0 10px; /* Espaciado entre los iconos */
    font-size: 24px; /* Tamaño de los iconos */
    text-decoration: none; /* Quitar subrayado */
}

.redes-footer a:hover {
    color: #3498db; /* Color al pasar el mouse */
}

/* Estilo para el separador horizontal */
footer hr {
    border: 0;
    border-top: 1px solid #34495e; /* Línea gris */
    margin: 20px auto; /* Espaciado y centrado */
    width: 80%; /* Ancho de la línea */
}

/* Estilo para el texto debajo del separador */
footer p {
    font-size: 14px; /* Tamaño de fuente más pequeño */
    margin: 5px 0;
}

footer h4 {
    font-size: 16px; /* Tamaño de fuente para el nombre */
    margin: 0;
}






/* Logo */
.logo-img {
    height: 40px;
}

.logo-link {
    text-decoration: none;
}
/* Navbar */
.navbar {
    display: flex;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-link {
    margin: 0 15px;
    text-decoration: none;
    color: var(--text-light);
    font-size: 16px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--primary-color-dark);
}


/* Estilo para pantallas más pequeñas (responsivo) */
@media (max-width: 768px) {
    .navbar {
        display: none; /* Ocultar los enlaces en pantallas pequeñas */
    }


    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    .navbar.active {
        display: block;
        margin-top: 10px;
    }
}